
.hero-section {
  display: flex;
  align-items: center;
  padding: 50px;
  background-image: url("../asset/home.jpg");
  background-size: cover;
  height: 45rem;
}

.hero-text {
  width: 22rem;
}

.hero-text h1 {
  font-size: 36px;
  color: white;
}

.hero-text p {
  font-size: 18px;
  margin: 20px 0;
  color: white;
}

.consultation-button {
  text-decoration: none;
  background-color: #cf79c4;
  color: white;
  padding: 10px 20px;
  border-radius: 1rem;
  font-weight: bold;
  margin-left: 1rem;
}

.hero-image {
  flex: 1;
  text-align: center;
}

.hero-image img {
  max-width: 100%;
  border-radius: 10px;
}

.hero {
  display: flex;
  justify-content: center;
  padding: 10rem;
  
  
}

.hero-content {
  width: 55%;
  text-align: center;
  
  
}

.hero-content h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  
}

.hero-content p {
  font-size: 1rem;
  line-height: 1.5;
  
}

@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
    padding-top: 10rem;
  }

  .hero-image {
    margin-top: 20px;
  }

  .consultation-button {
    margin: auto;
  }
}

@media (max-width: 480px) {
  .hero-text h1 {
    font-size: 3.5rem;
  }

  .hero-text p {
    font-size: 16px;
  }
}
